h3.__title {
  font-size: 30px;
}

.__title {
  span {
    display: block;
    padding-top: 10px;
    font-size: 20px;
    color: #888;
    font-weight: 400;
  }
}

.body {
  background-color: white;
}